# Dependencies
node_modules/

# Build outputs
dist/
build/

# Exclude the Release directory and the specific file
!build/Release/
!build/Release/wmnp.node

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# NPM cache
.npm

# Optional npm cache directory
.npm
